body{
    background-image: url(../images/bg-image.png);
}

.button-addon2{
    background-color: rgba(112, 128, 144, 0.822);
}

/* Today city banner styling */

#today-icon{
    width: 30px;
}

#city-panel{
    width: 51rem;
    color: white;
    background-color: rgba(0, 0, 205, 0.192);
    border-radius: 6px;
    border: transparent;
}

/* fitting uv box to uv data */
#uv{
    border-radius: 6px;
    padding: 3px;
    width: fit-content;
}

/* beginning of uv spectrum */
.safe{
    background-color: lightgreen;
    color: black;
}

.moderate{
    background-color: yellow;
    color: black;
}

.high{
    background-color: orange;
    color: white;
}

.v-high{
    background-color: red;
    color: white;
}

.extreme{
    background-color: rebeccapurple;
    color: white;
}

/* forecast card style */
.card-outer{
    background-color: transparent;
    border: transparent;
}

.card-days{
    color: white;
    background-color: rgba(0, 0, 205, 0.192);
    border-radius: 6px;
}

/* history element hover color */
.hover{
    background-color: skyblue;
}